@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <header class="border-bottom">
        <div class="container d-flex justify-content-between align-items-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/carreras">Carreras</a></li>
                <li class="nav-item"><a class="nav-link" href="/inscribirse">Inscribirse</a></li>
                <li class="nav-item"><a class="nav-link" href="/carrera-tiempo-real">Carrera en Vivo</a></li>
            </ul>

            <a href="/">
                <img src="/Imagenes/logo.png" alt="Logo" style="height: 50px;" />
            </a>

           
        </div>
    </header>

    <!-- Contenido de la página -->
    <main class="flex-fill">
        <div class="container py-5">
            @Body
        </div>
    </main>

    <!-- Footer -->
    <footer class="border-top mt-auto py-3 text-center text-muted small">
        © @DateTime.Now.Year ProyectoNET
    </footer>
</div>
