<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoNET.WebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @* TODOS TUS ENLACES DEBEN ESTAR AQUÍ USANDO NavLink *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carreras">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Carreras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inscribirse">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inscribirse
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carrera-tiempo-real">
                <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Carrera en Vivo
            </NavLink>
        </div>

    </nav>
</div>
