/* _content/ProyectoNET.WebApp/Components/Pages/Carreras/Carreras.razor.rz.scp.css */
.hero[b-gf1ejjs248]{
  background-image: url('/images/fondo-carreras.png');
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat;
}
/* _content/ProyectoNET.WebApp/Components/Pages/Carreras/CarreraTiempoReal.razor.rz.scp.css */
/* _content/ProyectoNET.WebApp/Components/Pages/Inscripciones/CarrerasInscripcion.razor.rz.scp.css */
.hero[b-rnaycjoq31]{
  background-image: url('/images/fondo-carreras.png');
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat;
}
