/* _content/ProyectoNET.WebApp/Components/Pages/Carreras/Carreras.razor.rz.scp.css */
.hero[b-gf1ejjs248]{
  background-image: url('/images/fondo-carreras.png');
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat;
}
/* _content/ProyectoNET.WebApp/Components/Pages/Carreras/CarreraTiempoReal.razor.rz.scp.css */
/*
 * CarreraTiempoReal.razor.css
 */

.checkpoint-wrapper[b-rhwjx031n6] {
    position: absolute;
    bottom: 0px;
    height: 2rem;
    width: 2rem;  /* Ancho fijo para SVGs */
}
.checkpoint-wrapper > *[b-rhwjx031n6] { width: 100%; height: 100%; }

/* 1. Propiedades base (¡SIN TRANSICIÓN!) */
.punto-corredor-wrapper[b-rhwjx031n6] {
    position: absolute;
    bottom: 2px;
    height: 1.5rem;
    width: 1.5rem; /* Ancho fijo para SVGs */
    
    /* BORRAMOS 'transition: left ...' */
}

/* 2. Estilo de Resaltado (Hover) */
.punto-corredor-wrapper.resaltado[b-rhwjx031n6] {
    /* (Mantenemos la transición del 'transform') */
    transform: scale(2.5);
    z-index: 1000;
    transition: transform 0.2s ease-out;
}

.punto-corredor-wrapper > *[b-rhwjx031n6] { width: 100%; height: 100%; }
/* _content/ProyectoNET.WebApp/Components/Pages/Inscripciones/CarrerasInscripcion.razor.rz.scp.css */
.hero[b-rnaycjoq31]{
  background-image: url('/images/fondo-carreras.png');
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat;
}
