/*
 * CarreraTiempoReal.razor.css
 */

.checkpoint-wrapper {
    position: absolute;
    bottom: 0px;
    height: 2rem;
    width: 2rem;  /* Ancho fijo para SVGs */
}
.checkpoint-wrapper > * { width: 100%; height: 100%; }

/* 1. Propiedades base (¡SIN TRANSICIÓN!) */
.punto-corredor-wrapper {
    position: absolute;
    bottom: 2px;
    height: 1.5rem;
    width: 1.5rem; /* Ancho fijo para SVGs */
    
    /* BORRAMOS 'transition: left ...' */
}

/* 2. Estilo de Resaltado (Hover) */
.punto-corredor-wrapper.resaltado {
    /* (Mantenemos la transición del 'transform') */
    transform: scale(2.5);
    z-index: 1000;
    transition: transform 0.2s ease-out;
}

.punto-corredor-wrapper > * { width: 100%; height: 100%; }