@page "/carrera-tiempo-real/{CarreraId}"
@rendermode InteractiveServer
@layout Layout
@using ProyectoNET.Shared.WebApp 
@using System.Globalization 

<div class="container-fluid">
    <h1 class="mb-3 text-center">Carrera San Fernando en tiempo real!</h1>

    <div class="mx-auto mb-3 text-center rounded-3 bg-body-secondary w-100 d-flex p-2 justify-content-between">
        <Largada Class="text-black" style="height: 2rem;" />
        <Llegada Class="text-primary" style="height: 2rem;" />
    </div>

    <div class="d-flex gap-3">
        
    </div>
</div>